.divWrap {
    display: flex;
}

.productCard {
    border: 1px lightblue solid;
    display: flex;
}
article {
    width: 30%;
}

article h2 {
    border: 1px grey dotted;
    text-align: center;
}
article ul {
    list-style-type: none;
    text-align: center;
}

.availability {
    text-align: left;
    border: 1px black solid;
    background-color: grey;
    color: yellow;
}
.product {
    text-align: justify;
    text-justify: inter-word;
}
.pricing {
    font-weight: bold;
}